{% load static %}
<style>
    .form-control:focus {
        box-shadow: 0 0 0 .2rem rgb(255 255 255 / 25%);
    }

    .header-middle .cart {
        display: none;
    }

    .header-middle .cart_icon:hover .cart {
        display: block;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 210px;
        color: black;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 5px;
        top: 33px;
        border-radius: 5px;
        right: -8px;
        z-index: 1;
    }

    .chkot:hover {
        background-color: rgb(25, 135, 84);
        color: white;
    }

    .chkot {
        margin-top: 10px;
    }

    .header-middle .crt_lst::-webkit-scrollbar {
        display: none;
    }

    .header-middle .bi-x {
        position: relative;
        top: -5px;
        border: none;
        background-color: rgb(250, 250, 250);
        font-size: large;
        padding: 0;
        margin: 0;
        left: 180px;
        color: rgb(255, 0, 0);
    }

    .header-middle #see_all {
        text-decoration: none;
        color: black;
    }

    .header-middle #see_all:hover {
        color: rgb(60, 104, 150);
    }

    .crt_lst {
        max-height: 300px;
        max-width: 500px;
        overflow-y: scroll;
    }

    .crt_lst .cart-list {
        max-height: 350px;
        width: 100%;
    }

    .product-det #img {
        height: 50px;
        width: 50px;
    }

    .header-middle .detail span {
        font-size: small;
    }

    .header-middle .detail p {
        font-weight: bold;
        font-size: small;
    }

    .header-middle .product-det {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }

    .header-middle .product-det:first-child {
        border-top: none;
    }

    .header-middle .product-det:last-child {
        border-bottom: none;
    }

    .header-middle #pro-name {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;
    }

    #shoppingcart,
    #total_items {
        font-size: 12px;
    }

    #item_notification {
        position: absolute;
        top: -16px;
        left: 29px;
        border: none;
        background-color: green;
        font-size: large;
        width: 20px;
        height: 20px;
        font-weight: bolder;
        font-size: 14px;
        border-radius: 50%;
        color: #ffffff;
        margin: 0;
    }
</style>

<div class="header-middle">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex flex-wrap py-5 gap-1">
            <div class=" col-sm-12 col-md-12 col-lg-12 d-flex flex-wrap justify-content-between">
                <div class="d-flex col-sm-12 col-md-4 col-lg-3 align-items-center justify-content-center"
                    style="height: 100px;">
                    <a href="{% url 'home' %}">

                        {% if header and header.header_image_left.url %}
                        {% if header.header_image_left.url %}
                        <img src="{{ header.header_image_left.url }}" alt="TechSpot" style="width: 100px;">
                        {% else %}
                        <img src="{% static 'images/favicon.jpg' %}" alt="TechSpot" style="width: 100px;">
                        {% endif %}
                        {% endif %}
                    </a>
                    <!-- {% if headers.url %}
                    <img src="{{ headers.url }}" alt="TechSpot" style="width: 90px;">
                    {% else %}
                    <img src="{% static 'images/favicon.jpg' %}" alt="TechSpot" style="width: 90px;">
                    {% endif %} -->
                </div>

                <!-- Search Box -->
                <div class="d-flex col-sm-12 col-md-8 col-lg-7 justify-content-center">
                    {% include "content/searchbox.html" %}
                </div>
                <div class=" bg-light-subtle d-flex col-sm-12 col-md-2 col-lg-2">
                    <!-- Cart -->
                    {% include "content/cart.html" %}
                </div>
            </div>
        </div>
    </div>
</div>