{% load static %}
<style>
    /* .imageSlide{
        padding: 0px 0px 0px 2.5px;
    } */
</style>
<div id="image" class="col-sm-12 col-md-8 col-lg-7">
    {% for image in images %}
    <div class="imageSlide">
        {% if image.image %}
        <img src="{{ image.image.url }}" alt="Image" class="img-fluid custom-slide">
        {% else %}
        <img src="{% static 'images/default_image.png' %}" alt="slide" class="img-fluid fallback-img">
        {% endif %}
    </div>
    {% endfor %}
</div>
