{% extends "index.html" %}

{% load static %}



{% block page %}
<style>
    .nav li a {
        color: black;
        border-left: 1px solid grey;
    }

    .nav li:hover {
        background-color: rgb(219, 52, 68);
    }

    .nav li a:hover {
        color: white;
    }

    .nav-item .nav-link {
        color: black;
        padding: 10px 20px;
        text-decoration: none;
    }

    .nav li:first-child a {
        border-left: none;
    }

    .nav li:last-child a {
        border-right: none;
    }
</style>
{% include "header/header_top.html" %}

<div class="header-nav bg-light">
    <div class="container p-0">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-6 col-md-8 col-lg-12 bg-white border d-flex justify-content-center">
                <div class=" d-flex">
                    <ul class="nav bg-light d-flex flex-wrap m-auto bg-white">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}"><i class="bi bi-house-fill"></i> Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container p-0">

    {% block blog %} {% endblock %}
    
    {% block category %} {% endblock %}
    
    {% block cart_detail %} {% endblock %}

    {% block product_detail %} {% endblock %}
    
    {% block my_orders %} {% endblock %}

    {% block terms_and_conditions %} {% endblock %}

    {% block search %} {% endblock %}

</div>



{% endblock %}


{% include "footer.html" %}